Repository philprime/philprime.dev: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-json, format-markdown, format-yaml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-vcs-permalinks
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=auto]
      - id: pretty-format-json
        args: [--autofix, --indent=2]
      - id: trailing-whitespace
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.2
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        args:
          - "fmt"
      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"
      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.(yaml|yml)$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

docs(lesson-3): Improve vSwitch networking lesson clarity and accuracy
  _sass/base.scss
  guides/migrating-k3s-to-rke2/lesson-3.md
Due: format-markdown

WIP
  guides/migrating-k3s-to-rke2/lesson-4.md
Due: format-markdown

docs(lesson-5): Rewrite Understanding section and improve CoreDNS config
  CLAUDE.md
  guides/migrating-k3s-to-rke2/lesson-5.md
Due: format-markdown

docs(lesson-5,lesson-6): Improve Canal lesson and add DNS bufsize fix
  guides/migrating-k3s-to-rke2/lesson-5.md
  guides/migrating-k3s-to-rke2/lesson-6.md
Due: format-markdown

docs(lesson-7): Remove em-dashes and improve Longhorn UI section
  guides/migrating-k3s-to-rke2/lesson-7.md
Due: format-markdown

docs(styles): Adjust table width and display properties for better responsiveness
  _sass/base.scss
Due: none

build: Replace jekyll-spaceship with local mermaid-cli rendering
  .gitignore
  Gemfile
  Gemfile.lock
  Makefile
  _config.yml
  _plugins/mermaid.rb
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-json, format-yaml

build: Add netlify.toml and npm dependabot config
  .github/dependabot.yml
  .gitignore
  netlify.toml
Due: format-yaml

fix(mermaid): Register generated SVGs as Jekyll static files
  CLAUDE.md
  _plugins/mermaid.rb
  netlify.toml
Due: format-markdown

perf(mermaid): Use incremental builds and simplify plugin caching
  Makefile
  _plugins/mermaid.rb
Due: none

WIP
  .vscode/settings.json
Due: format-json

docs: Add AGENTS.md and CLAUDE.md for project instructions
  AGENTS.md
  CLAUDE.md
Due: format-markdown

feat(guides): Restyle guide and section navigation to match series design
  _includes/guide-navigation.liquid.html
  _layouts/guide-section.liquid.html
  _layouts/guide.liquid.html
Due: none

feat(guides): Add sponsorship alert to all guide sections and lessons
  _includes/guide-overview-link.liquid.html
  guides/building-a-production-ready-kubernetes-cluster-from-scratch/index.md
Due: format-markdown

chore: Refactor renovate.json configuration
  renovate.json
Due: format-json

feat: Add clickable anchor links to headings
  _plugins/heading_anchors.rb
  _sass/base.scss
Due: none

feat: Add clickable anchor links to headings (#139)
  _plugins/heading_anchors.rb
  _sass/base.scss
Due: none

WIP
  99-kubernetes.conf
  TCP_RETRANSMIT_INVESTIGATION_2026-03-22.md
  _posts/2026-03-04-debugging-inotify-exhaustion-kubernetes.md
  ci-network-investigation.md
  dns-history.jsonl
  dns-optimization.md
  dns-rollout-and-ci-caching.md
  network-diagnosis-and-report-to-hetzner.md
  networking-history.jsonl
  networking-history/subagents/agent-acompact-5b721626afe5a567.jsonl
  networking-history/subagents/agent-acompact-6afdaa7b21d151a9.jsonl
  networking-history/tool-results/mcp-grafana-query_prometheus-1772699332758.txt
  networking-history/tool-results/mcp-grafana-query_prometheus-1772699334187.txt
  networking-history/tool-results/mcp-grafana-query_prometheus-1772699337826.txt
  networking-history/tool-results/toolu_017vXJV3dFft3jzgNH9sBFHf.json
  nodelocaldns.yaml
  pgpool-prisma-connection-reset-investigation.md
Due: format-json, format-markdown, format-yaml

feat(analytics): Add Umami tracking link
  _layouts/base.liquid.html
Due: none

style: apply formatting
  bin/optimize-image.bash
  renovate.json
  series/index.md
Due: format-json, format-markdown

feat: Add minimal privacy policy page
  privacy.md
Due: format-markdown

feat: Add privacy link and copyright notice to footer
  _includes/footer.liquid.html
  _sass/base.scss
Due: none

refactor: Rename make serve to make dev
  AGENTS.md
  Makefile
Due: format-markdown

chore(deps): Update gem dependencies
  Gemfile.lock
Due: none

feat: Move about section to dedicated page
  about.md
  index.md
Due: format-markdown

feat: Add reading time to posts and homepage list
  _layouts/home.liquid.html
  _layouts/post.liquid.html
Due: none

feat: Add colored tag pills to posts and homepage
  _layouts/home.liquid.html
  _layouts/post.liquid.html
  _posts/2021-03-15-building-an-ios-app-in-two-months.md
  _posts/2021-03-22-using-appclips-in-ios-games.md
  _posts/2021-03-29-ios-push-notifications-without-user-auth.md
  _posts/2021-04-05-ios-dev-community-gatsbyjs-airtable.md
  _posts/2021-04-12-modularize-xcode-projects-using-local-swift-packages.md
  _posts/2021-04-19-advanced-cross-platform-apps-uikit-appkit.md
  _posts/2021-05-03-five-swift-extension-smarter-code.md
  _posts/2021-05-11-creating-own-markdown-parser-swift.md
  _posts/2021-05-17-building-swiftui-apps-in-markdown.md
  _posts/2021-05-24-three-ways-styling-swiftui.md
  _posts/2021-05-31-strongly-type-localizations-swiftgen.md
  _posts/2021-07-05-swift-http-api-postie.markdown
  _posts/2021-08-02-xcode-not-enough-space.md
  _posts/2024-05-06-three-ways-to-support-open-source.md
  _posts/2025-03-22-kubernetes-guide-published.md
  _posts/2025-08-06-ios-session-replay-performance-optimization.md
  _posts/2025-11-15-manual-fastlane-match.md
  _posts/2025-11-23-new-k3s-agent-node.md
  _posts/2026-02-09-building-type-safe-metrics-api-in-swift-part-i.md
  _posts/2026-02-09-building-type-safe-metrics-api-in-swift-part-ii.md
  _sass/base.scss
Due: format-markdown

feat: Add social follow links to homepage intro
  index.md
Due: format-markdown

feat: Add featured posts section to homepage
  _layouts/home.liquid.html
  _posts/2025-03-22-kubernetes-guide-published.md
  _posts/2026-02-09-building-type-safe-metrics-api-in-swift-part-i.md
  _sass/base.scss
Due: format-markdown

feat(dx): add @sentry/dotagents setup
  .claude/skills
  .gitignore
  .mcp.json
  agents.toml
Due: format-json

refactor: Redesign footer to minimal centered layout
  _config.yml
  _includes/footer.liquid.html
  _sass/base.scss
Due: format-yaml

feat: Redesign Series and Guides pages with horizontal cards
  _sass/base.scss
  guides/index.md
  series/index.md
Due: format-markdown

style: Unify border-radius to coherent 3-tier scale
  _includes/guide-navigation.liquid.html
  _includes/related-posts.liquid.html
  _includes/series-navigation.liquid.html
  _sass/base.scss
  assets/css/style.scss
Due: none

fix: Exclude Umami analytics scripts during local development
  Makefile
  _layouts/base.liquid.html
Due: none

feat: add blog post setting up Raspberry Pi Kubernetes node using NVMe
  _posts/2026-04-28-setup-raspberry-pi-kubernetes-node-with-nvme.md
Due: format-markdown

docs: rewrite NVMe Pi node post as publishable step-by-step
  _posts/2026-04-28-setup-raspberry-pi-kubernetes-node-with-nvme.md
Due: format-markdown

Apply suggestion from @philprime
  guides/migrating-k3s-to-rke2/index.md
Due: format-markdown

chore(docs): update lesson references to include links for better navigation
  guides/migrating-k3s-to-rke2/lesson-10.md
  guides/migrating-k3s-to-rke2/lesson-12.md
  guides/migrating-k3s-to-rke2/lesson-13.md
  guides/migrating-k3s-to-rke2/lesson-14.md
  guides/migrating-k3s-to-rke2/lesson-15.md
  guides/migrating-k3s-to-rke2/lesson-16.md
  guides/migrating-k3s-to-rke2/lesson-2.md
  guides/migrating-k3s-to-rke2/lesson-4.md
  guides/migrating-k3s-to-rke2/lesson-5.md
  guides/migrating-k3s-to-rke2/lesson-6.md
  guides/migrating-k3s-to-rke2/lesson-7.md
Due: format-markdown

Fix AGENTS.md
  AGENTS.md
Due: format-markdown

Fix ehm-dashes
  guides/migrating-k3s-to-rke2/index.md
  guides/migrating-k3s-to-rke2/lesson-10.md
  guides/migrating-k3s-to-rke2/lesson-11.md
  guides/migrating-k3s-to-rke2/lesson-12.md
  guides/migrating-k3s-to-rke2/lesson-13.md
  guides/migrating-k3s-to-rke2/lesson-14.md
  guides/migrating-k3s-to-rke2/lesson-15.md
  guides/migrating-k3s-to-rke2/lesson-16.md
  guides/migrating-k3s-to-rke2/lesson-2.md
  guides/migrating-k3s-to-rke2/lesson-8.md
  guides/migrating-k3s-to-rke2/lesson-9.md
  guides/migrating-k3s-to-rke2/section-3.md
  guides/migrating-k3s-to-rke2/section-4.md
Due: format-markdown
