Repository philprime/philprime.dev: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-json, format-markdown, format-yaml

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

style: Add pre-commit hooks with dprint (#118)
  .pre-commit-config.yaml
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  _config.yml
  _posts/2021-03-15-building-an-ios-app-in-two-months.md
  _posts/2021-03-22-using-appclips-in-ios-games.md
  _posts/2021-03-29-ios-push-notifications-without-user-auth.md
  _posts/2021-04-05-ios-dev-community-gatsbyjs-airtable.md
  _posts/2021-04-12-modularize-xcode-projects-using-local-swift-packages.md
  _posts/2021-04-19-advanced-cross-platform-apps-uikit-appkit.md
  _posts/2021-05-03-five-swift-extension-smarter-code.md
  _posts/2021-05-11-creating-own-markdown-parser-swift.md
  _posts/2021-05-17-building-swiftui-apps-in-markdown.md
  _posts/2021-05-24-three-ways-styling-swiftui.md
  _posts/2021-05-31-strongly-type-localizations-swiftgen.md
  _posts/2021-08-02-xcode-not-enough-space.md
  _posts/2024-05-06-three-ways-to-support-open-source.md
  _posts/2025-03-22-kubernetes-guide-published.md
  _posts/2025-08-06-ios-session-replay-performance-optimization.md
  _posts/2025-11-15-manual-fastlane-match.md
  dprint.json
  guides/building-a-production-ready-kubernetes-cluster-from-scratch/index.md
  guides/building-a-production-ready-kubernetes-cluster-from-scratch/lesson-11.md
  guides/building-a-production-ready-kubernetes-cluster-from-scratch/lesson-14.md
  guides/building-a-production-ready-kubernetes-cluster-from-scratch/lesson-16.md
  guides/building-a-production-ready-kubernetes-cluster-from-scratch/lesson-18.md
  guides/building-a-production-ready-kubernetes-cluster-from-scratch/lesson-19.md
  guides/building-a-production-ready-kubernetes-cluster-from-scratch/lesson-2.md
  guides/building-a-production-ready-kubernetes-cluster-from-scratch/lesson-8.md
  guides/building-a-production-ready-kubernetes-cluster-from-scratch/lesson-9.md
  guides/index.md
  index.md
  renovate.json
Due: format-json, format-markdown, format-yaml

refactor: Move cv.pdf to /assets/files
  _config.yml
  assets/files/cv.pdf
Due: format-yaml

Update _config.yml
  _config.yml
Due: format-yaml

refactor: Move cv.pdf to /assets/files (#119)
  _config.yml
  assets/files/cv.pdf
Due: format-yaml

feat: Add blog post / guide for Hetzner K3s agent node
  _posts/2025-11-23-new-k3s-agent-node.md
  _sass/base.scss
  assets/blog/2025-11-23-new-k3s-agent-node/image-1.webp
  assets/blog/2025-11-23-new-k3s-agent-node/image-2.webp
  assets/blog/2025-11-23-new-k3s-agent-node/image-3.webp
  assets/blog/2025-11-23-new-k3s-agent-node/image-4.webp
  assets/blog/2025-11-23-new-k3s-agent-node/image-6.webp
  assets/blog/2025-11-23-new-k3s-agent-node/image-7.webp
  raw_assets/blog/2025-11-23-new-k3s-agent-node/image-1.png
  raw_assets/blog/2025-11-23-new-k3s-agent-node/image-2.png
  raw_assets/blog/2025-11-23-new-k3s-agent-node/image-3.png
  raw_assets/blog/2025-11-23-new-k3s-agent-node/image-4.png
  raw_assets/blog/2025-11-23-new-k3s-agent-node/image-6.png
  raw_assets/blog/2025-11-23-new-k3s-agent-node/image-7.png
Due: format-markdown

Apply suggestions from code review
  _posts/2025-11-23-new-k3s-agent-node.md
Due: format-markdown

feat: Add blog post / guide for Hetzner K3s agent node setup (#123)
  _posts/2025-11-23-new-k3s-agent-node.md
  _sass/base.scss
  assets/blog/2025-11-23-new-k3s-agent-node/image-1.webp
  assets/blog/2025-11-23-new-k3s-agent-node/image-2.webp
  assets/blog/2025-11-23-new-k3s-agent-node/image-3.webp
  assets/blog/2025-11-23-new-k3s-agent-node/image-4.webp
  assets/blog/2025-11-23-new-k3s-agent-node/image-6.webp
  assets/blog/2025-11-23-new-k3s-agent-node/image-7.webp
  raw_assets/blog/2025-11-23-new-k3s-agent-node/image-1.png
  raw_assets/blog/2025-11-23-new-k3s-agent-node/image-2.png
  raw_assets/blog/2025-11-23-new-k3s-agent-node/image-3.png
  raw_assets/blog/2025-11-23-new-k3s-agent-node/image-4.png
  raw_assets/blog/2025-11-23-new-k3s-agent-node/image-6.png
  raw_assets/blog/2025-11-23-new-k3s-agent-node/image-7.png
Due: format-markdown

chore(ci): Disable automerge for Renovate dependency updates
  renovate.json
Due: format-json

chore(ci): Disable automerge for Renovate dependency updates (#124)
  renovate.json
Due: format-json

fix: update firewall rules for K3s cluster to allow inter-node communication
  _posts/2025-11-23-new-k3s-agent-node.md
Due: format-markdown

chore(deps): Update Ruby dependencies to latest
  Gemfile.lock
Due: none

add initial draft
  .vscode/settings.json
  Gemfile
  Gemfile.lock
  _config.yml
  guides/migrating-k3s-to-rke2-without-downtime/index.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-1.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-10.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-11.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-12.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-13.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-14.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-15.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-16.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-17.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-18.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-19.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-20.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-21.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-22.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-23.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-24.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-25.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-3.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-4.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-5.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-6.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-7.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-8.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-9.md
  guides/migrating-k3s-to-rke2-without-downtime/revisions.md
  guides/migrating-k3s-to-rke2-without-downtime/section-1.md
  guides/migrating-k3s-to-rke2-without-downtime/section-2.md
  guides/migrating-k3s-to-rke2-without-downtime/section-3.md
  guides/migrating-k3s-to-rke2-without-downtime/section-4.md
  guides/migrating-k3s-to-rke2-without-downtime/section-5.md
Due: format-json, format-markdown, format-yaml

shorten lesson-3
  guides/migrating-k3s-to-rke2-without-downtime/index.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-1.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-3.md
Due: format-markdown

refactor(guide): consolidate Section 1 and fix section filtering
  _layouts/guide-section.liquid.html
  guides/migrating-k3s-to-rke2-without-downtime/index.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-1.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-3.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-4.md
  guides/migrating-k3s-to-rke2-without-downtime/section-1.md
Due: format-markdown

style(guide): format lesson-1 with one sentence per line
  guides/migrating-k3s-to-rke2-without-downtime/lesson-1.md
Due: format-markdown

docs: add CLAUDE.md with writing style guidelines
  AGENTS.md
  CLAUDE.md
  guides/migrating-k3s-to-rke2-without-downtime/index.md
  guides/migrating-k3s-to-rke2-without-downtime/section-1.md
Due: format-markdown

cleanup lesson 5
  .vscode/settings.json
  guides/migrating-k3s-to-rke2-without-downtime/lesson-5.md
Due: format-json, format-markdown

feat(blog): Republish Sentry engineering blog post on type-safe metrics API
  _includes/series-navigation.liquid.html
  _layouts/post.liquid.html
  _posts/2026-02-09-building-type-safe-metrics-api-in-swift-part-i.md
  _posts/2026-02-09-building-type-safe-metrics-api-in-swift-part-ii.md
  _sass/base.scss
  assets/blog/2026-02-09-building-type-safe-metrics-api-in-swift/default-values-in-protocols.webp
  assets/blog/2026-02-09-building-type-safe-metrics-api-in-swift/enum-raw-type-arguments-error.webp
  assets/blog/2026-02-09-building-type-safe-metrics-api-in-swift/hero.webp
  assets/blog/2026-02-09-building-type-safe-metrics-api-in-swift/multi-conformance.webp
  assets/blog/2026-02-09-building-type-safe-metrics-api-in-swift/switch-unknown-values-swift-5.webp
  raw_assets/blog/2026-02-09-building-type-safe-metrics-api-in-swift/default-values-in-protocols.png
  raw_assets/blog/2026-02-09-building-type-safe-metrics-api-in-swift/enum-raw-type-arguments-error.png
  raw_assets/blog/2026-02-09-building-type-safe-metrics-api-in-swift/hero.png
  raw_assets/blog/2026-02-09-building-type-safe-metrics-api-in-swift/multi-conformance.png
  raw_assets/blog/2026-02-09-building-type-safe-metrics-api-in-swift/switch-unknown-values-swift-5.png
  series/index.md
Due: format-markdown

Update _posts/2026-02-09-building-type-safe-metrics-api-in-swift-part-i.md
  _posts/2026-02-09-building-type-safe-metrics-api-in-swift-part-i.md
Due: format-markdown

Update _posts/2026-02-09-building-type-safe-metrics-api-in-swift-part-ii.md
  _posts/2026-02-09-building-type-safe-metrics-api-in-swift-part-ii.md
Due: format-markdown

Update _includes/series-navigation.liquid.html
  _includes/series-navigation.liquid.html
Due: none

feat(blog): Republish Sentry engineering blog post on type-safe metrics API (#135)
  _includes/series-navigation.liquid.html
  _layouts/post.liquid.html
  _posts/2026-02-09-building-type-safe-metrics-api-in-swift-part-i.md
  _posts/2026-02-09-building-type-safe-metrics-api-in-swift-part-ii.md
  _sass/base.scss
  assets/blog/2026-02-09-building-type-safe-metrics-api-in-swift/default-values-in-protocols.webp
  assets/blog/2026-02-09-building-type-safe-metrics-api-in-swift/enum-raw-type-arguments-error.webp
  assets/blog/2026-02-09-building-type-safe-metrics-api-in-swift/hero.webp
  assets/blog/2026-02-09-building-type-safe-metrics-api-in-swift/multi-conformance.webp
  assets/blog/2026-02-09-building-type-safe-metrics-api-in-swift/switch-unknown-values-swift-5.webp
  raw_assets/blog/2026-02-09-building-type-safe-metrics-api-in-swift/default-values-in-protocols.png
  raw_assets/blog/2026-02-09-building-type-safe-metrics-api-in-swift/enum-raw-type-arguments-error.png
  raw_assets/blog/2026-02-09-building-type-safe-metrics-api-in-swift/hero.png
  raw_assets/blog/2026-02-09-building-type-safe-metrics-api-in-swift/multi-conformance.png
  raw_assets/blog/2026-02-09-building-type-safe-metrics-api-in-swift/switch-unknown-values-swift-5.png
  series/index.md
Due: format-markdown

WIP
  guides/migrating-k3s-to-rke2-without-downtime/lesson-5.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-6.md
Due: format-markdown

dualstack, mermaid, cleanup
  .vscode/extensions.json
  guides/building-a-production-ready-kubernetes-cluster-from-scratch/revisions.md
  guides/migrating-k3s-to-rke2-without-downtime/index.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-1.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-10.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-11.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-12.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-13.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-14.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-16.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-18.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-22.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-23.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-24.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-25.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-6.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-7.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-8.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-9.md
  guides/migrating-k3s-to-rke2-without-downtime/revisions.md
  guides/migrating-k3s-to-rke2-without-downtime/section-2.md
Due: format-json, format-markdown

docs(guide): explain etcd quorum behavior in Phase 2
  guides/migrating-k3s-to-rke2-without-downtime/lesson-1.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-5.md
Due: format-markdown

docs(guide): add early architecture decisions for dual-stack, storage, and security
  guides/migrating-k3s-to-rke2-without-downtime/lesson-5.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-8.md
Due: format-markdown

docs(guide): update Rocky Linux 9 to Rocky Linux 10
  guides/migrating-k3s-to-rke2-without-downtime/index.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-1.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-12.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-13.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-14.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-23.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-24.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-25.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-5.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-6.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-7.md
  guides/migrating-k3s-to-rke2-without-downtime/section-2.md
Due: format-markdown

small improvements
  guides/migrating-k3s-to-rke2-without-downtime/lesson-5.md
Due: format-markdown

docs(guide): restructure lessons 5-9 to book-style format
  CLAUDE.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-17.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-5.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-6.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-7.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-8.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-9.md
Due: format-markdown

more work in cleaning up
  guides/migrating-k3s-to-rke2-without-downtime/lesson-1.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-11.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-12.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-13.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-14.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-15.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-16.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-17.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-18.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-19.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-20.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-21.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-22.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-23.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-24.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-25.md
Due: format-markdown

fixed networking setup
  guides/migrating-k3s-to-rke2-without-downtime/lesson-6.md
Due: format-markdown

fix cidr
  guides/migrating-k3s-to-rke2-without-downtime/lesson-11.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-13.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-14.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-19.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-8.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-9.md
Due: format-markdown

docs(guide): update firewall configuration lessons for clarity and detail
  guides/migrating-k3s-to-rke2-without-downtime/lesson-7.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-9.md
Due: format-markdown

docs(guide): enhance lesson 7 with detailed vSwitch connectivity tests and port scanning instructions
  guides/migrating-k3s-to-rke2-without-downtime/lesson-7.md
Due: format-markdown

docs(guide): add writing style instructions and enhance lesson 1 and lesson 5 for clarity and detail
  guides/migrating-k3s-to-rke2-without-downtime/WRITING_STYLE.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-1.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-5.md
Due: format-markdown

docs(guide): update CNI references from Cilium to Canal throughout migration lessons
  guides/migrating-k3s-to-rke2-without-downtime/WRITING_STYLE.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-1.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-11.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-13.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-14.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-15.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-22.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-24.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-25.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-6.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-7.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-9.md
  guides/migrating-k3s-to-rke2-without-downtime/section-2.md
Due: format-markdown

docs(guide): update CNI references from Cilium to Canal in migration lessons and enhance lesson details
  guides/migrating-k3s-to-rke2-without-downtime/index.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-6.md
  guides/migrating-k3s-to-rke2-without-downtime/lesson-8.md
Due: format-markdown

docs(guide): enhance lesson 8 with clearer instructions on etcdctl installation and usage, and improve security best practices explanations
  guides/migrating-k3s-to-rke2-without-downtime/lesson-8.md
Due: format-markdown

docs(guide): update lesson 9 to configure Canal CNI and network policies, replacing Cilium references with detailed instructions on dual-stack networking and WireGuard encryption
  guides/migrating-k3s-to-rke2-without-downtime/lesson-9.md
Due: format-markdown

Path conditions:
  format-json: any of: ^.*\.json$ and \.json$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-yaml: any of: ^.*\.(yaml|yml)$ and \.(yaml|yml)$
