Repository philprime/philprime.dev: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-json, format-markdown, format-yaml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-vcs-permalinks
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=auto]
      - id: pretty-format-json
        args: [--autofix, --indent=2]
      - id: trailing-whitespace
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.2
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        args:
          - "fmt"
      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"
      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.(yaml|yml)$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

fixes
  Gemfile
  Gemfile.lock
  guides/migrating-k3s-to-rke2/lesson-8.md
Due: format-markdown

feat(guides): Add migrating K3s to RKE2 (#136)
  .github/dependabot.yml
  .gitignore
  .vscode/extensions.json
  CLAUDE.md
  Gemfile
  Gemfile.lock
  Makefile
  _config.yml
  _plugins/mermaid.rb
  _sass/base.scss
  guides/migrating-k3s-to-rke2/index.md
  guides/migrating-k3s-to-rke2/lesson-1.md
  guides/migrating-k3s-to-rke2/lesson-10.md
  guides/migrating-k3s-to-rke2/lesson-11.md
  guides/migrating-k3s-to-rke2/lesson-12.md
  guides/migrating-k3s-to-rke2/lesson-13.md
  guides/migrating-k3s-to-rke2/lesson-14.md
  guides/migrating-k3s-to-rke2/lesson-15.md
  guides/migrating-k3s-to-rke2/lesson-16.md
  guides/migrating-k3s-to-rke2/lesson-2.md
  guides/migrating-k3s-to-rke2/lesson-3.md
  guides/migrating-k3s-to-rke2/lesson-4.md
  guides/migrating-k3s-to-rke2/lesson-5.md
  guides/migrating-k3s-to-rke2/lesson-6.md
  guides/migrating-k3s-to-rke2/lesson-7.md
  guides/migrating-k3s-to-rke2/lesson-8.md
  guides/migrating-k3s-to-rke2/lesson-9.md
  guides/migrating-k3s-to-rke2/revisions.md
  guides/migrating-k3s-to-rke2/section-1.md
  guides/migrating-k3s-to-rke2/section-2.md
  guides/migrating-k3s-to-rke2/section-3.md
  guides/migrating-k3s-to-rke2/section-4.md
  netlify.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-json, format-markdown, format-yaml

chore(deps): update Ruby Gems
  Gemfile.lock
Due: none

chore(deps): resolve pnpm security audit issues
  package.json
  pnpm-lock.yaml
Due: format-json, format-yaml

feat: add standardized health endpoint implementation in Go
  _posts/2026-05-19-standardized-health-endpoint-in-go.md
Due: format-markdown

feat: expand metadata and refine standardized health endpoint post
  _posts/2026-05-19-standardized-health-endpoint-in-go.md
Due: format-markdown

feat: add hero image for standardized health endpoint post
  assets/blog/2026-05-19-standardized-health-endpoint-in-go/hero.webp
  raw_assets/blog/2026-05-19-standardized-health-endpoint-in-go/hero.jpg
Due: none

change hero
  assets/blog/2026-05-19-standardized-health-endpoint-in-go/hero.webp
  raw_assets/blog/2026-05-19-standardized-health-endpoint-in-go/hero.jpg
Due: none

small improvements
  _posts/2026-05-19-standardized-health-endpoint-in-go.md
Due: format-markdown

feat(blog): Add post 'Standardized Health Endpoint in Go' (#162)
  _posts/2026-05-19-standardized-health-endpoint-in-go.md
  assets/blog/2026-05-19-standardized-health-endpoint-in-go/hero.webp
  raw_assets/blog/2026-05-19-standardized-health-endpoint-in-go/hero.jpg
Due: format-markdown

chore: make standardized-health-endpoint-in-go to featured article
  _posts/2026-02-09-building-type-safe-metrics-api-in-swift-part-i.md
  _posts/2026-05-19-standardized-health-endpoint-in-go.md
Due: format-markdown

build(optimize): Skip unchanged images via JSONL manifest
  assets/.optimize-manifest.jsonl
  bin/optimize-image.bash
Due: none

feat(dx): Add jq to Brewfile
  Brewfile
Due: none

feat(guides): Add hero image for migrating k3s to RKE2 guide
  assets/guides/migrating-k3s-to-rke2/hero.webp
  guides/migrating-k3s-to-rke2/index.md
  raw_assets/guides/migrating-k3s-to-rke2/hero.png
Due: format-markdown

build(jekyll): Enable Liquid strict mode and fix raw blocks
  _config.yml
  _posts/2026-05-19-standardized-health-endpoint-in-go.md
Due: format-markdown, format-yaml

chore(config): Tidy Jekyll defaults and drop unused facebook block
  _config.yml
Due: format-yaml

docs(guides): Address review pass on migrating-k3s-to-rke2 guide
  guides/migrating-k3s-to-rke2/lesson-11.md
  guides/migrating-k3s-to-rke2/lesson-12.md
  guides/migrating-k3s-to-rke2/lesson-13.md
  guides/migrating-k3s-to-rke2/lesson-15.md
  guides/migrating-k3s-to-rke2/lesson-2.md
  guides/migrating-k3s-to-rke2/lesson-5.md
  guides/migrating-k3s-to-rke2/lesson-7.md
  guides/migrating-k3s-to-rke2/revisions.md
Due: format-markdown

docs(guides): Address review pass on migrating-k3s-to-rke2 guide (#163)
  guides/migrating-k3s-to-rke2/lesson-11.md
  guides/migrating-k3s-to-rke2/lesson-12.md
  guides/migrating-k3s-to-rke2/lesson-13.md
  guides/migrating-k3s-to-rke2/lesson-15.md
  guides/migrating-k3s-to-rke2/lesson-2.md
  guides/migrating-k3s-to-rke2/lesson-5.md
  guides/migrating-k3s-to-rke2/lesson-7.md
  guides/migrating-k3s-to-rke2/revisions.md
Due: format-markdown

chore(deps): update pnpm-lock.yaml
  pnpm-lock.yaml
Due: format-yaml

feat: add blog post setting up Raspberry Pi Kubernetes node using NVMe
  _posts/2026-04-28-setup-raspberry-pi-kubernetes-node-with-nvme.md
Due: format-markdown

docs: rewrite NVMe Pi node post as publishable step-by-step
  _posts/2026-04-28-setup-raspberry-pi-kubernetes-node-with-nvme.md
Due: format-markdown

migrated to new post
  _posts/2026-04-28-setup-raspberry-pi-kubernetes-node-with-nvme.md
  _posts/2026-05-25-setup-raspberry-pi-kubernetes-node-with-nvme.md
Due: format-markdown

feat(site): Configure Sentry browser loader
  _layouts/base.liquid.html
Due: none

updated privacy policy
  privacy.md
Due: format-markdown

feat(site): Configure Sentry browser loader (#166)
  _layouts/base.liquid.html
  privacy.md
Due: format-markdown

chore(deps): update Ruby Gems to latest versions
  Gemfile.lock
Due: none

chore(deps): update Node.js dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-json, format-yaml

feat(dx): add jekyll-compose for managing posts
  Gemfile
  Gemfile.lock
Due: none

style: add more formatting with tooling
  .pre-commit-config.yaml
  .prettierrc.json
  404.html
  Makefile
  _includes/alert.liquid.html
  _includes/contribute-cta.liquid.html
  _includes/footer.liquid.html
  _includes/guide-lesson-ref.liquid.html
  _includes/guide-navigation.liquid.html
  _includes/guide-overview-link.liquid.html
  _includes/head.liquid.html
  _includes/header.liquid.html
  _includes/related-posts.liquid.html
  _includes/schema/article.liquid.html
  _includes/schema/breadcrumbs.liquid.html
  _includes/schema/guide.liquid.html
  _includes/schema/person.liquid.html
  _includes/schema/website.liquid.html
  _includes/series-navigation.liquid.html
  _includes/social.liquid.html
  _layouts/base.liquid.html
  _layouts/guide-lesson.liquid.html
  _layouts/guide-revisions.liquid.html
  _layouts/guide-section.liquid.html
  _layouts/guide.liquid.html
  _layouts/home.liquid.html
  _layouts/page.liquid.html
  _layouts/post.liquid.html
  _posts/2021-07-05-swift-http-api-postie.markdown
  _sass/base.scss
  _sass/theme.scss
  agents.toml
  dprint.json
  netlify.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-json, format-yaml

chore(deps): update pnpm-lock.yaml
  .mcp.json
  pnpm-lock.yaml
Due: format-json, format-yaml

Apply suggestions from code review
  _posts/2026-05-25-setup-raspberry-pi-kubernetes-node-with-nvme.md
Due: format-markdown

docs: update NVMe Pi node post date and metadata
  _posts/2026-06-05-setup-raspberry-pi-kubernetes-node-with-nvme.md
Due: format-markdown

feat(blog): Replacing a Failed Kubernetes Node with NVMe Boot on Raspberry Pi 5 (#144)
  _posts/2026-06-05-setup-raspberry-pi-kubernetes-node-with-nvme.md
Due: format-markdown
